#footer {
    .card {
        background-color: #ff36361f;
        .card-body {
            p {
                margin: 0;
                a {
                    text-decoration: none;
                    color: grey;
                }
            }
        }
    }
}
