/*jumbotron slider*/


#carousel{
    max-height: 500px;
}





/*---------------------------------*/

.search-buttom {
    background-color: $primary-color;
    color: $body-bg;
}


/*-------------*/

.cart {
    height: 100vh;
    background-image: url();
    text-align: center;

    ul {
        list-style-type: none;
    }
}
