/*jumbotron slider*/

#carousel {
    max-height: 600px;
    img {
        object-fit: contain;
        opacity: 0.8;
    }
}

/*---------------------------------*/

.search-buttom {
    background-color: $primary-color;
    color: $body-bg;
}

/*-------------*/

.cart {
    height: 100vh;
    background-image: url();
    text-align: center;

    ul {
        list-style-type: none;
    }
}
