/*jumbotron slider*/
#carousel {
    height: 500px;
    img {
        object-fit: contain;
        opacity: 0.8;
        height: 500;
        width: auto;
    }
}

/*---------------------------------*/

.search-buttom {
    background-color: $primary-color;
    color: $body-bg;
}

/*-------------*/

.cart {
    height: 100vh;
    background-image: url();
    text-align: center;

    ul {
        list-style-type: none;
    }
}
