/*jumbotron slider*/
#carousel {
    height: 500px;
    img {
        object-fit: contain;
        opacity: 0.8;
        height: 500;
        width: auto;
    }
}

/*---------------------------------*/

.search-buttom {
    background-color: $primary-color;
    color: $body-bg;
}

/*-------------*/

#restaurants {
    h2 {
        font-family: "Roboto";
        color: $primary-color;
        font-weight: 700;
    }
}
