/*jumbotron slider*/
#carousel {
    height: 400px;
    img {
        object-fit: contain;
        opacity: 0.8;
        width: auto;
    }
}

/*---------------------------------*/

.search-buttom {
    background-color: $primary-color;
    color: $body-bg;
}

/*-------------*/

#restaurants {
    h2 {
        color: $primary-color;
        font-weight: 700;
    }

    .btn-outline-primary-color {
        color: $primary-color;
        border-color: $primary-color;
    }
}
