#ingredients-list {
    .ingredient-item {
        margin-bottom: 100px;
        height: 300px;
        overflow-y: scroll;
        
    }
}

.ingredient-item::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }


 
  


.ingredients-table{
    ul{
      list-style-type: none;
    a{
        color: black;
    }
     
    
    }
  
  }