.navbar-brand {
    padding: 0;
    strong {
        font-size: 25px;
    }
}

#guest-nav {
    .navbar {
        background-color: transparent;
        .nav-link {
            font-size: 22px;
            font-weight: 700;
        }
        a {
            color: $primary-color;
            padding: 0;
        }
    }
}

.logo {
    height: 100px;
    width: auto;
    padding: 0px;
    margin: 0;
}

.arrow-product {
    color: $primary-color;
    font-size: 30px;
    &:hover {
        color: black;

    }
}

.card {
    margin: 10px;
    &:hover {
        transform: scale(1.05);
     }
}
.card-body {
    padding: 30px;
    text-align: left;  
    .name {
        color: $primary-color;
        font-weight: bold;
    }
    .category {
        margin-left: 16px;
    }
   
}

@media screen and (min-width: 768px) {
    #jumbotron {
        .search-bar {
            transform: translatey(-240px);
            justify-content: center;
        }
    }

    #guest-nav {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;

        width: 100%;
    }

    #restaurant {
        #cart-section {
            position: fixed;
        }
    }
}

