.login-section {
    background-image: url("/images/Cuoco-i-retroscena-di-una-professione-fonte-di-grandi-livelli-di-stress.webp");
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    

    #login {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .label-text {
            color: white;
        }
        .card {
            background-color: rgba(255, 255, 255, 0.062);
            border: none;
        }
            .card-header-login {
                color: white;
                background-color: $primary-color;
                text-align: center;
                text-transform: uppercase;        
            }   
        .btn-login {
            background-color: $primary-color;
            color: white;
            text-transform: uppercase;
            &:hover {
                transform: scale(1.02)
            }      
        }
        .ancor-login {
            color: $primary-color;
            &:hover {
               text-decoration: underline;
            }
        }
    }

}
