html {
    scroll-behavior: smooth;
}

#restaurant {
    font-family: "Roboto";
    ul {
        list-style-type: none;
    }
    h1,
    h5 {
        color: $primary-color;
    }

    #cart-section {
        max-width: 400px;
        border-radius: 10px;
        .card-header {
            border-radius: 10px 10px 0 0;
        }
        .cart-content {
            .product-name {
                font-size: 1rem;
            }
            ul {
                padding-left: 0;
            }
        }
    }
    #scroll-button {
        a {
            position: fixed;
            right: 0;
            top: 50%;
            padding: 10px 12px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: $primary-color;
        }
    }
}
