

body {
    font-family: "Alegreya", serif;
    font-weight: 700;
    // background-image: url("/images/ye.jpg");
    //   l  background-color: #ab0c0c;
    height: 100vh;
    background-size: cover;
}

.primary-color {
    color:$primary-color;
}

.primary-color-bg {
    background-color: $primary-color;
}
