// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap");
// Bootstrap
@import "~bootstrap/scss/bootstrap";
// Variables
@import "variables";
// utilities
@import "utilities";

// Braintree form
@import "form";
// view ingredient
@import "ingredients";


// home guest page
@import "homeguest";
// show guest page
@import "showguest";
//layout-app navbar
@import "layoutguest";
// layout admin
@import "_layout_admin.scss";
// login style form
@import "login";
// register style form
@import "register";
//order admin
@import "orders_admin";